<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <!-- <link rel="stylesheet" href="/signup.css"> -->
</head>

<body>
    <div class="Account">
        <h3>Account Details:</h3>
    </div>
    <!-- <img src=""> -->
    <div class="info">
        <p>
            <b>
                Name: <%=user.username%>
            </b><br><br>
            <b>Email:</b><br><br>
            <b>Date of Birth:</b><br><br>
            <b>Phone Number:</b><br><br>
            <b>Address:</b><br><br>
        </p>
    </div>
    <script src="/js/mongodb.js"></script>
    <script src="/src/mongodb.js"></script>
</body>

</html>