<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>Log IN</h2>
    <form action="./login" method="post"><br>
    <input type="text" name="name" placeholder="Name"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <a href="" style="font-size: 0.5rem;">Forgotten Password ?</a>
    <br><br>
    <input type="submit">
    </form>
<a href="signup">Create new Account</a>
</body>
</html>